.device-manager-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.device-manager {
  width: 80%;
  max-width: 600px;
  background-color: #f9f7d9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

.device-list, .room-list {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  max-height: 200px;
  overflow-y: auto;
}

.device {
  padding: 8px;
  margin: 5px 0;
  background-color: #d3f9d8;
  border-radius: 5px;
  cursor: grab;
}

.room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 15px;
  background-color: #e9f7ef;
  border: 2px dashed #97c1a9;
  border-radius: 5px;
}

.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.room-title {
  flex-grow: 1;
  margin: 0;
}

.close-device-manager-button {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}

.add-room-button {
  background-color: #34c759;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
}

.delete-room-button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: auto;
}

.room-device button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
  margin-left: 10px;
}
