#home{
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
    background-color: #1D3557;
}

#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    margin-right: 7%;
}

#cta .title{
    font-size: 4rem;
    color: #ffffff;
}

#cta .title span{
    color: #b0e654;
}

#cta .description{
    font-size: 1.2rem;
    background-color: #ffffff;
    padding: 8px 14px;
    text-align: justify;
    border-radius: 12px;
    width: 400px;
    
}

#cta_buttons{
    display: flex;
    gap: 24px;
}

#cta_buttons a{
    text-decoration: none;
    color: #1d1d1d;
}

#phone_button{
    display: flex;
    gap: 8px;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 14px;
    font-weight: 500;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

#Formulario{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    z-index: 2;
}

.shape{
    background-color: #e8f351;
    width: 50%;
    height: 98%;
    position: absolute;
    border-radius: 40% 30% 0% 20%;
    top: 0;
    right: 0;
    z-index: 1;
}

#cta .redes{
    font-size: 2rem;
    color: #c1dafd;
    text-decoration: underline;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .button-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }
  

@media screen and (max-width: 1170px){
    #home{
        min-height: 100%;
        padding-top: 0px;
    }

    #banner,
    #banner img,
    #home .shape{
        display: none;
    }
    
    #cta{
        width: 100%;
        text-align: center;
        align-items: center;
    }

    #cta .redes{
        font-size: 2rem;
        color: #c1dafd;
        text-decoration: underline;
    }
}

