.room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-actions {
  display: flex;
  gap: 10px;
}

.edit-room-button {
  background-color: #34c759;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-room-input {
  font-size: 16px;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.delete-room-button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.room-hover {
  background-color: #f0fff0;
}
